@model ResourceListViewModel
@{
    ViewBag.Title = Resources.Common.ManageResources;

    var catID = Guid.Empty;
    var currentLanguage = string.Empty;
    var curlan = Identity.Current.Language.LanguageDescription;

}

<style>
    .ui-widget-content {
        background: #FFF;
    }
</style>
<div id="resourceManager">
    <div class="row">
        <div class="col-sm-8">
        
        </div>
        <div class="col-sm-4" style="margin-top:20px;">
            <span class="pull-right">
                <a class="btn btn-primary" href="@Url.Action("resourceitems","resources")"> @Resources.Common.CreateNewResource</a>
                <a href="@Url.Action("ManageResourceCategories", "Resources")" class="btn btn-primary">@Resources.Common.ManageCategories</a>
            </span>
        </div>
    </div>


    <div class="space-10"></div>
    <div class="row">
        <div class="col-lg-3">
            <div class="well well-sm hidden-xs">
                <div class="space-20"></div>
                <h5>@Resources.Common.ViewResourcesFor:</h5>
                <div>
                    @Html.DropDownListFor(model => model.Country, new SelectList(Model.CountryList, "Value", "Text", Identity.Current.Country), new { @class = "form-control" })
                </div>
                <div class="space-20"></div>
                <h5>@Resources.Common.Language:</h5>
                <div>
                    @Html.DropDownListFor(model => model.Language, new SelectList(Model.Languages, "LanguageDescription", "LanguageDescription"), "All", new { @class = "form-control" })
                </div>
                <div class="space-20"></div>
                <h5>@Resources.Common.FindByKeyword<a class="pull-right" id="clearKeywords" style="display:none;">@Resources.Common.Clear</a></h5>
                <div class="space-10"></div>
                <div class="input-group">
                    @Html.DropDownListFor(model => model.Tags, new MultiSelectList(Model.Tags, "Name", "Name"), new { @class = "form-control", multiple = "multiple" })
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" data-role="searchKeyword" type="button"><i class="fa fa-search"></i></button>
                    </span>
                </div>
                <div class="space-20"></div>
                <h5>@Resources.Common.ResourceCategories<a class="pull-right" id="showallcategories" style="display:none;">@Resources.Common.ShowAll</a></h5>
                <ul id="Category-List" class="list-group-item">
                    @foreach (var category in Model.ResourceCategories.Where(rc => rc.ParentID == Guid.Empty))
                    {
                        
                        var categoryTranslation = Model.CategoryTranslation.Where(ct => ct.CategoryID == category.CategoryID && ct.Language == currentLanguage).FirstOrDefault();
                        var categoryDescription = categoryTranslation == null ? category.CategoryDescription : categoryTranslation.TranslatedCategoryDescription;

                        if (Model.ResourceCategories.Where(rc => rc.ParentID == category.CategoryID).Any())
                        {
                            <li data-id="@category.CategoryID">
                                <span data-toggle="collapse" data-target="#Sub-@category.CategoryID"><i class="fa fa-plus-square-o"></i></span> <a data-role="categoryFilter" id="@category.CategoryID">@categoryDescription</a>
                                <ul id="Sub-@category.CategoryID" class="collapse">
                                    @foreach (var subCategory in Model.ResourceCategories.Where(rc => rc.ParentID == category.CategoryID))
                                    {
                                        var subCategoryTranslation = Model.CategoryTranslation.Where(ct => ct.CategoryID == subCategory.CategoryID && ct.Language == currentLanguage).FirstOrDefault();
                                        var subCategoryDescription = categoryTranslation == null ? subCategory.CategoryDescription : subCategoryTranslation.TranslatedCategoryDescription;
                                        <li data-id="@subCategory.CategoryID">
                                            <a data-role="categoryFilter" id="@subCategory.CategoryID">@subCategoryDescription</a>
                                        </li>
                                    }
                                </ul>

                            </li>
                        }
                        else
                        {
                            <li data-id="@category.CategoryID" class="paddingleft15">
                                <a data-role="categoryFilter" id="@category.CategoryID">@categoryDescription</a>
                            </li>
                        }
                    }

                </ul>

                <div class="space-20"></div>
                <h5>@Resources.Common.FindByMedia<a class="pull-right" id="applyFilter" style="display:none;">@Resources.Common.ApplyFilter</a><a class="pull-right" id="clearFilter" style="display:none;">@Resources.Common.ClearFilter</a></h5>
                <div class="list-group-item">
                    <ul style="padding-left:0;" id="marketFilter">
                        @foreach (var mediaType in Model.ResourceTypes)
                        {
                            <li><input type="checkbox" name="@mediaType.TypeDescription" value="@mediaType.TypeDescription" /> @mediaType.TypeDescription</li>
                        }
                    </ul>
                </div>
              </div>
        </div>
        <div class="col-lg-9" id="resourcelist-target">

        </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteResource" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Resources.Common.Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">@Resources.Common.DeleteResource</h4>
                </div>
                @using (Html.BeginForm("DeleteResource", "resources"))
                {
                    <div class="modal-body">
                        @Resources.Common.DeleteResourceQuestion
                    </div>
                <!-- hidden value -->
                    @Html.HiddenFor(model => model.EditItemID, new { @id = "deleteitemid" })
                    @Html.HiddenFor(model => model.DeleteCategoryID, new { @id = "deletecategoryid" })
                    @Html.HiddenFor(model => model.CategoryID, new { @id = "oldcategoryid" })
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Common.No</button>
                        <button type="submit" class="btn btn-info">@Resources.Common.Yes</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- script -->
</div>
<script>



    require(["jquery", "ajax", "jquery-ui", "select2", "customsort"], function ($, ajax, jqueryui, select2, customsort) {


        



        var context = $("#resourceManager"),
            $context = $(context),
            sortCategoryByDatUrl = '@Url.Action("SortCategoryByDate","Resources")';

        var oldID = @Model.CategoryID,
            FilteredCategory = "",
            FilteredMedia = [],
            FilteredMarket = "",
            FilteredRank = "",
            FilteredLanguage = "",
            keywords = [],
            isFiltered = false;


        function registerEventHandlers(){


            /*edit resource - fetch the data for the resource and populate
          //to the fields in the modal with current resource data*/
            $context.on("click",".editResource", function () {                
                var itemID = $(this).data("id");
                var catID = $(this).closest('.categoryDetail').data('id');

                actions.fetchResourceData(itemID, catID);
            });

            //delete resource
            $context.on("click",".deleteResource", function () {
                var itemID = $(this).data("id");
                var catID = $(this).closest('.categoryDetail').data('id');

                actions.deleteResource(itemID, catID);
            });
            
            $context.on("click", ".dateHeader", function () {
                var $this = $(this),
                    isAscending = $this.hasClass("asc"),
                    isDescending = $this.hasClass("desc"),
                    categoryId = $(this).parents('.categoryDetail').first().data("id"),
                    sortType = "";

                if(isAscending)
                {
                    $this.removeClass("asc");
                    $this.addClass("desc");
                    sortType = "desc";
                }
                else if(isDescending)
                {
                    $this.removeClass("desc");
                }
                else {
                    $this.addClass("asc");
                    sortType = "asc";
                }                

                actions.sortCategoryByDate(categoryId, sortType);                
            });
            
            $context.on("click", "#Category-List li span", function () {
                $(this).find('i').toggleClass('fa-plus-square-o fa-minus-square-o')
            });

            $context.on("click","[data-role='searchKeyword']", function () {
                keywords = $("#Tags").val()
                if(keywords !== "undefined" || keywords.length() > 0){
                    getResourceList();
                }
            });

            $context.on("click","#clearKeywords", function () {
                keywords = [];
                $("#Tags").val("").trigger('change');
                $("#clearKeywords").hide();
                getResourceList();
            });

            $context.on("click", "#addresource", function(){

            });

            $('#categorybutton').on('click', function () {
                getModal();
            });

            $("[data-role='editCategory']").on('click', function () {
                var parent = $(this).closest('li');
                var categoryID = parent.data('id');
                editCategory(categoryID);
            });

            $("[data-role='createResource']").on("click", function () {
                var selectedAvails = [];
                var values = "";
                $(".create-availability").find('input:checked').each(function () { selectedAvails.push($(this).attr('value')); });
                for (var i = 0; i < selectedAvails.length; i++) {
                    values += (selectedAvails[i]);
                    if (i != (selectedAvails.length - 1)) {
                        values += ",";
                    }
                }
                $(".create-availability").find("#SelectedAvailability").val(values);
                $(this).parent().parent().submit();
            });

            $("[data-role='editResource']").on("click", function () {
                var selectedAvails = [];
                var values = "";
                $(".edit-availability").find('input:checked').each(function () { selectedAvails.push($(this).attr('value')); });
                for (var i = 0; i < selectedAvails.length; i++) {
                    values += (selectedAvails[i]);
                    if (i != (selectedAvails.length - 1)) {
                        values += ",";
                    }
                }
                $(".edit-availability").find("#SelectedAvailability").val(values);

                $(this).parent().parent().submit();
            });

            $context.on("click", "[data-role='rankFilter']", function() {
                FilteredRank = $(this).attr('id');
                getResourceList();
                $("#rankFilter").find("li").each(function(){ $(this).removeClass("highlight")})
                $(this).parent().addClass("highlight");
                $("#showallranks").show();
            });

            $("[data-role='categoryFilter']").on("click", function () {
                FilteredCategory = JSON.stringify($(this).attr('id'));
                getResourceList();
                $("#Category-List").find("li").each(function(){ $(this).removeClass("highlight")})
                $(this).parent().addClass("highlight");
                $("#showallcategories").show();
            });

            $("#showallranks").on("click", function () {
                FilteredRank = "";
                getResourceList();
                $("#rankFilter").find("li").each(function(){ $(this).removeClass("highlight")})
                $("#showallranks").hide();

            });

            $("#showallcategories").on("click", function () {
                FilteredCategory = "";
                getResourceList();
                $("#Category-List").find("li").each(function(){ $(this).removeClass("highlight")})
                $("#showallcategories").hide();

            });

            $("#marketFilter").on("change", function () {
                FilteredMedia = [];
                var listitems = $(this).find('li');
                $.each(listitems, function ()
                {
                    var y = $(this).find('input[type=checkbox]');
                    if($(y).is(":checked"))
                    {
                        FilteredMedia.push($(y).val());
                    }
                })
                if(FilteredMedia.length > 0){
                    $("#applyFilter").show();
                }
                else{
                    $("#applyFilter").hide();
                }
                if(isFiltered && FilteredMedia.length <= 0){
                    $("#clearFilter").show()
                }
                else{
                    $("#clearFilter").hide()
                }
            });

            $("#applyFilter").on("click", function () {
                getResourceList();
            });

            $("#clearFilter").on("click", function () {
                isFiltered = false;
                getResourceList();
                $(this).hide()
            });

            $("#Country").on("change", function () {
                FilteredMarket = $(this).val();
                getResourceList();
            });

            $("#Language").on("change", function () {
                FilteredLanguage = $(this).val();
                getResourceList();
            });

            actions.createSelectList();

        }
        var actions = {
            deleteResource: function (itemID, catID) {
                //set hidden field
                $("#deleteitemid").val(itemID);
                $("#deletecategoryid").val(catID);
                $("#oldcategoryid").val(oldID)
                //show modal
                $('#deleteResource').modal("show");
            },

            fetchResourceData: function (itemID, catID) {
                $.ajax({
                    url: '@Url.Action("FetchResourceData", "resources")',
                    type: 'POST',
                    data: { editItemID: itemID, categoryID: catID },
                    dataType: 'json',
                    success: function (data) {
                        $("#editcategory").val(data.model.CategoryID);
                        $("#editurl").val(data.model.Url);
                        $("#editurlthumbnail").val(data.model.UrlThumbnail);
                        $("#editdescription").val(data.model.ItemDescription);
                        $("#edithiddenid").val(data.model.EditCategoryID);
                        $("#edittitle").val(data.model.ResourceTypeID);
                        $("#editposton").val(data.model.PostDate);
                        $("#editexpiration").val(data.model.ExpireDate);
                        var avail = data.model.GetAvailableResources;
                        $.each(avail, function () {
                            var $cultureCode = $(this).attr('Language');
                            var $market = $(this).attr('Market');
                            $('#' + $cultureCode + '-' + $market).attr('checked', true);
                        });

                        $("#currentpath").html("<a href='" + data.model.Url + "' target='_blank'>" + data.model.Url + "</a>");
                        $("#currentthumbnailpath").html("<a href='" + data.model.UrlThumbnail + "' target='_blank'>" + data.model.UrlThumbnail + "</a>");

                        $('#editResource').modal("show");

                    }
                });
            },
            createSelectList: function(){
                $("#Tags").select2({
                    value:"",
                    tags: true,
                    multiple:true,
                    placeholder: '@Resources.Common.SelectAKeyword',

                })
            },
            sortCategoryByDate: function(categoryId, sortType){
                var categories = '@Html.Raw(Json.Encode(Model.ResourceCategories))';
                var filter = {
                    MediaFilter: FilteredMedia,
                    Categories: categories,
                    MarketFilter: FilteredMarket,
                    CategoryFilter: FilteredCategory,
                    LanguageFilter: FilteredLanguage,
                    Keyword: keywords,
                    isResourceManager: true
                };

                ajax.json({
                    url: sortCategoryByDatUrl,
                    data: {
                        categoryID: categoryId,
                        sortType: sortType,
                        filter: filter
                    },
                    success: function (response) {
                        if (response.success) {
                            var $categoryTableBody = $(".panel[data-id='"+ categoryId +"'] tbody");

                            console.log("$categoryTableBody.length: ", $categoryTableBody.length);

                            $categoryTableBody.html(response.html);
                        }
                    },
                    error: function (response) {
                        //console.log(response.message, "Error");
                    }
                });
            }
        }

        function getModal() {
            var categoryID = "@catID";
            ajax.json({
                url: '@Url.Action("getmodal","resources")',
                data: { categoryID: categoryID },
                success: function (response) {
                    if (!response.success) {
                        console.log(response.message);
                        return;
                    }
                    var $html = $("#modal-target");
                    $html.html(response.html);
                    $("#categoryModal").modal();


                },
                error: function (response) {
                    console.log(response.message, "Error");
                }
            });
        }
        function editCategory(categoryID) {

            ajax.json({
                url: '@Url.Action("getModal","resources")',
                data: { categoryID: categoryID },
                success: function (response) {
                    if (!response.success) {
                        console.log(response.message);
                        return;
                    }
                    var $html = $("#modal-target");
                    $html.html(response.html);
                    $("#categoryModal").modal();


                },
                error: function (response) {
                    console.log(response.message, "Error");
                }
            });
        }
        function getResourceList() {
            var categories = '@Html.Raw(Json.Encode(Model.ResourceCategories))';
            var filter = {
                MediaFilter: FilteredMedia,
                Categories: categories,
                MarketFilter: FilteredMarket,
                CategoryFilter: FilteredCategory,
                LanguageFilter: FilteredLanguage,
                Keyword: keywords,
                isResourceManager: true
            };
            ajax.json({
                url: '@Url.Action("getresourcelist","resources")',
                data: { filter: filter },
                success: function (response) {
                    if (!response.success) {
                        console.log(response.message);
                        return;
                    }
                    isFiltered = response.isFiltered;
                    var $html = $("#resourcelist-target");
                    $html.html(response.html);
                    if(keywords != ""){
                        $("#clearKeywords").show();
                    }
                    customsort.init($html.find("[data-sort-group]"));

                },
                error: function (response) {
                    console.log(response.message, "Error");
                }
            });
        }



        function init() {
            registerEventHandlers()
            $(".expiredatepicker").datepicker();
            $(".postondatepicker").datepicker();

            $('#Country').trigger('change');


        }


        $(init);@*Methd called when the form is called*@
    });
</script>
