@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
@section styles { @RenderSection("styles", required: false) }
@section header { @RenderSection("header", required: false) }
@section banner { @RenderSection("banner", required: false) }
@section scripts { @RenderSection("scripts", required: false) }


<main class="container" id="site-content">
    @RenderBody()
</main>
