@model AutoOrderSettingsViewModel
@{
    ViewBag.Title = Resources.Common.ConfigureAutoOrder;
    var minimumStartDate = GlobalUtilities.GetNextAvailableAutoOrderStartDate(DateTime.Now.ToCST());
    var currentMarket = Utilities.GetCurrentMarket();

    var availableFrequencyTypes = currentMarket.AvailableAutoOrderFrequencyTypes;
}

<div id="view-autoordersettings">

    <h3>@ViewBag.Title</h3>

    @using (Html.BeginForm())
    {
        <div class="form">
            <div class="form-group">
                <label for="">@Resources.Common.HowOftenDoYouWantToRecieve</label><br />
                
                <div class="row">
                    <div class="col-sm-6">
                        @Html.DropDownListFor(c => c.AutoOrderFrequencyType, availableFrequencyTypes.Select(c => new SelectListItem()
                        {
                            Value = ((int)c).ToString(),
                            Text = CommonResources.FrequencyTypes(Exigo.GetFrequencyTypeID(c))
                        }), new { @class = "form-control" })

                    </div>
                </div>

              <div class="space-10"></div>

                @Resources.Common.StartingOn
                <input type="text" class="form-control form-control-inline" id="" name="AutoOrderStartDate" data-type="date" value="@Model.AutoOrderStartDate.ToString("M/d/yyyy")" />
            </div>

            <button type="submit" class="btn btn-primary">@Resources.Common.Continue</button>
        </div>
    }
    <div class="space-20"></div>
</div>





@section scripts
{
    <script>
        require(["jquery", "kendo"], function ($, kendo) {

            // Settings
            var context            = "#view-autoordersettings",
                $context           = $(context),
                currentCultureCode = "@System.Threading.Thread.CurrentThread.CurrentCulture.Name",
                minimumStartDate   = new Date(@minimumStartDate.Year, @minimumStartDate.Month, @minimumStartDate.Day);


            // Event Handlers
            function registerEventHandlers() {
                $('[data-type="date"]', $context).kendoDatePicker({
                    culture: currentCultureCode,
                    parseFormats: ["MM/dd/yyyy"],
                    min: minimumStartDate
                }).on("focus click", function () {
                    $(this).data("kendoDatePicker").open();
                });
            }


            // Initialization
            function init() {
                registerEventHandlers();
            }
            init();

        });
    </script>
}