@model ResetPasswordViewModel
@{
    ViewBag.Title = Resources.Common.ResetPassword;
}


<div id="view-resetpassword" class="container resetpassword">
    @if (!Model.IsExpiredLink)
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 bottom-border">
                            <h3>@Resources.Common.ResetPassword</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ll-well">
            <div class="container-fluid">
                <div>
                    <div class="reset-password-form-container" id="resetPasswordContainer">
                        @using (Ajax.BeginForm("ResetPassword", "Authentication", new AjaxOptions()
                        {
                            HttpMethod = "Post",
                            InsertionMode = InsertionMode.Replace,
                            OnSuccess = "resetModule.login"
                        }))
                        {
                            <div class="form-horizontal">
                                @Html.AntiForgeryToken()
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.HiddenFor(u => u.CustomerType)
                                    @Html.HiddenFor(u => u.CustomerID)
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="pull-left">
                                                @Html.LabelFor(c => c.Password, new { @class = "control-label" })

                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="col-sm-4">
                                            @Html.EditorFor(model => model.Password, new
                                       {
                                           @class = "form-control",
                                           placeholder = Resources.Common.Password
                                       })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-2">

                                            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-sm-4">
                                            @Html.PasswordFor(model => model.ConfirmPassword, new
                                       {
                                           @class = "form-control",
                                           placeholder = Resources.Common.ConfirmPassword
                                       })
                                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <button type="submit" id="resetPasswordBtn" class="btn login">@Resources.Common.ResetPassword</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <h3> @Resources.Common.ResetPassword</h3>
        <div class="space-20"></div>
        <a href="@Url.Action("forgotpassword")">
            @Resources.Common.ExpiredResetMessage
        </a>
        <div class="space-20"></div>
    }
</div>
<script>
    var resetModule = {};
    require(["jquery", "toastr", "bootstrap"], function ($, toastr) {

        resetModule.login = function (response) {
            if (response.success) {
                toastr.success("@Resources.Common.PasswordUpdated");

                setTimeout(function () {
                    window.location = response.url;
                }, 2000);
            } else {
                console.log(response);
                toastr.error(response.message);
            }
        }
    });
</script>