@{
    ViewBag.Title = Resources.Common.DownlineOrders;
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-sm-3">
        @Html.Navigation()
    </div>

    <div class="col-sm-9">
        <div id="grid"></div>    
    </div>
</div>



    <script>
        require(["jquery", "kendogrids"], function ($, kendoGrid) {


            var cultureCode = "@Identity.Current.Market.CultureCode";
            kendo.culture(cultureCode);

            kendoGrid.create("#grid", {
                columns: [
                    { field: "CustomerID", width: 35, title: " ", type: "string", template: "<a data-profile='modal' data-id='#:CustomerID#' data-token='#:CustomerIDToken#' style='cursor: pointer;'><img src='/Content/images/contactcard.png' /></a>", sortable: false, filterable: false },
                    { field: "CustomerID", title: "@Resources.Common.ID", type: "string", width: 100 },
                    { field: "FirstName", title: "@Resources.Common.FirstName", type: "string", width: 125 },
                    { field: "LastName", title: "@Resources.Common.LastName", type: "string", width: 125 },
                    { field: "OrderID", type: "number", format: "{0:D}", title: "@Resources.Common.Order" },
                    {
                        field: "Total", title: "@Resources.Common.Total", type: "number", attributes: { "class": "text-right" },
                        template: function (row) { return row.Total.toLocaleString(row.CultureCode, { currency: row.CurrencyCode, style: 'currency' }); }
                    },
                    { field: "BusinessVolumeTotal", type: "number", title: "@Resources.Common.BV", template: "#:BusinessVolumeTotal# " + "@Resources.Common.BV", attributes: { "class": "text-right" } },
                    { field: "OrderDate", title: "@Resources.Common.Date", type: "date", format: "{0:d}", attributes: { "class": "text-right" } }
                ]
            });
        });
</script>
