@{
    ViewBag.Title = Resources.Common.PersonallyEnrolledTeam;
}


<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-sm-3">
        @Html.Navigation()
    </div>

    <div class="col-sm-9">

        <div id="grid"></div>

    </div>
</div>

@section scripts
{
    <script>
        require(["kendogrids"], function (kendoGrid) {

            var cultureCode = "@Identity.Current.Market.CultureCode";
            kendo.culture(cultureCode);


            kendoGrid.create("#grid", {
                sort: { field: "Email", dir: "desc" },
                columns: [
                     { field: "CustomerID", width: 35, title: " ", type: "string", template: "<a data-profile='modal' data-id='#:CustomerID#' data-token='#:CustomerIDToken#' style='cursor: pointer;'><img src='/Content/images/contactcard.png' /></a>", sortable: false, filterable: false },
                    { field: "CustomerID", title: "@Resources.Common.ID", type: "string", width: 75 },
                    { field: "FirstName", title: "@Resources.Common.FirstName", type: "string", width: 125 },
                    { field: "LastName", title: "@Resources.Common.LastName", type: "string", width: 125 },
                    { field: "Email", title: "@Resources.Common.Email", template: "<a href='mailto:#:Email#'>#:Email#</a>" },
                    { field: "Phone", title: "@Resources.Common.Phone" },
                    { field: "CreatedDate", title: "@Resources.Common.StartDate", type: "date", format: "{0:d}", attributes: { "class": "text-right" } }
                ]
            });
        });
    </script>
}