@model Backoffice.Models.CommissionPayout.CommissionPayout
@{
    ViewBag.Title = Resources.Common.CommissionPayout;
}

<h2>@ViewBag.Title</h2>

<div id="view-accountoverview">
    <div class="row">
        <div class="col-sm-3">
            @Html.Navigation()
        </div>

        <div class="col-sm-9">
            <div class="alert alert-danger hide" id="directdeposit-alert">
                <h3 class="error-header">@Resources.Common.Sorry</h3>

                <p class="error-content">@Resources.Common.ProblemWithInformationText</p>
            </div>

            <div class="row">
                <div class="col-sm-9">
                    @using (Html.BeginForm("updatedirectdeposit", "account"))
                    {

                        <div class="well">
                            <div class="row margin-5">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        @Html.LabelFor(c => c.BankName, Resources.Common.BankName, new { @class = "control-label" })
                                        @Html.TextBoxFor(c => c.BankName, htmlAttributes: new
                                   {
                                       @class = "form-control",
                                       placeholder = Resources.Common.BankName,
                                       id = "bankNameList"
                                   })
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-5">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="NameOnAccount" class="control-label">@Resources.Common.NameOnAccount</label>
                                        @Html.TextBoxFor(c => c.NameOnAccount, htmlAttributes: new
                                   {
                                       @class = "form-control",
                                       placeholder = Resources.Common.NameOnYourAccount
                                   })
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-5">
                                <div class="col-sm-12">
                                    <div class="form-group" id="account-number">
                                        <label for="AccountNumber" class="control-label">@Resources.Common.AccountNumberRules</label>
                                        @Html.TextBoxFor(c => c.AccountNumber, htmlAttributes: new
                                   {
                                       @class = "form-control",
                                       placeholder = Resources.Common.YourAccountNumber
                                   })

                                    </div>

                                    <div class="form-group" id="routing-number">
                                        <label for="RoutingNumber" class="control-label">@Resources.Common.RoutingNumber</label>
                                        @Html.TextBoxFor(c => c.RoutingNumber, htmlAttributes: new
                                   {
                                       @class = "form-control",
                                       placeholder = Resources.Common.YourRoutingNumber
                                   })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a data-role="submitform" class="btn btn-primary">@Resources.Common.SaveChanges</a>
                        <a href="@Url.Action("PaymentMethodList")" class="btn btn-link">@Resources.Common.Cancel</a>
                    }

                </div>
                <div class="col-sm-3">

                </div>
            </div>
            <div class="space-40"></div>
        </div>
    </div>
</div>

<script>

    require(["jquery", "toastr"], function ($, toastr) {
        $(function () {

            // Restrict to 10 digits
            $("#@Html.IdFor(c => c.AccountNumber)").on("keypress", function (event) {
                var regex = new RegExp("^[0-9]+$");
                var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
                if (!regex.test(key)) {
                    event.preventDefault();
                    return false;
                }

                if ($(this).val().length > 19) {
                    event.preventDefault();
                    return false;
                }
            });

            // Restrict to 18 digits
            $("#@Html.IdFor(c => c.RoutingNumber)").on("keypress", function (event) {
                var regex = new RegExp("^[0-9]+$");
                var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
                if (!regex.test(key)) {
                    event.preventDefault();
                    return false;
                }

                if ($(this).val().length > 17) {
                    event.preventDefault();
                    return false;
                }
            });


            $("[data-role='submitform']").on("click", function () {
                var isValid = true,
                    accountNumber = $('#@Html.IdFor(c => c.AccountNumber)').val(),
                    routingNumber = $('#@Html.IdFor(c => c.RoutingNumber)').val();


                if (accountNumber.length < 10) {
                    isValid = false;
                    toastr.error("@Resources.Common.AccountNumberError");
                }
                if (routingNumber.length <= 1) {
                    isValid = false;
                    toastr.error("@Resources.Common.RoutingNumberError");
                }


                if (isValid) {
                    var $form = $(this).parents("form").first();

                    $form.submit();
                }
            });


        });
    });
</script>