@model ForgotPasswordViewModel
@{
    ViewBag.Title = Resources.Common.ResetPassword;
}

@using (Ajax.BeginForm("ForgotPassword", "Account", new AjaxOptions()
{
    OnBegin = "forgottenPassword.onBegin",
    OnSuccess = "forgottenPassword.onSuccess",
    OnFailure = "forgottenPassword.onFailure"
}))
{
    <div id="view-forgot-password">
        <h3>@ViewBag.Title</h3>

        @Html.Raw(Resources.Common.ForgotPasswordInstructions)

        <div class="space-10"></div>

        <div class="form-horizontal">
            @Html.AntiForgeryToken()
            <div class="form-group">

                <div class="col-sm-4">
                    @Html.LabelFor(c => c.Email)
                    @Html.TextBoxFor(c => c.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.Email)
                    <div id="success-message-container" style="display: none;">
                        <div class="space-5"></div>
                        <em class="text-success">@Resources.Common.EmailHasBeenSent</em>
                    </div>
                    <div id="failed-message-container" style="display: none;">
                        <div class="space-5"></div>
                        <em class="text-error"></em>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <button type="submit" id="resetPasswordBtn" data-loading-text="@Resources.Common.Loading" class="btn btn-primary login">@Resources.Common.Submit</button>
                </div>
            </div>
        </div>
    </div>
}

<script>
    var forgottenPassword;
    require(["jquery", "toastr", "bootstrap"], function ($, toastr) {
        forgottenPassword = (function () {
            // Actions
            var actions = {
                onBegin: function () {
                    $('#resetPasswordBtn').button('loading');
                },
                onSuccess: function (response) {
                    if (response.success) {
                        $('#resetPasswordBtn').text("Submit");
                        $("#success-message-container").show();
                    }
                    else {
                        $('#resetPasswordBtn').button("reset");

                        $("#failed-message-container").find('.text-error').html(response.message);
                        $("#failed-message-container").show();
                    }
                },
                onFailure: function (a, b) {
                    console.log("failed", a, b);
                }
            };

            // Exports
            return {
                onBegin: actions.onBegin,
                onSuccess: actions.onSuccess,
                onFailure: actions.onFailure
            };
        })();
    });
</script>
