@model LoginViewModel
@{
    ViewBag.Title = Resources.Common.SignIn;
    var hasReturnURL = (Request["ReturnUrl"] != null) ? true : false;
    var returnUrl = "";
    if (hasReturnURL)
    {
        returnUrl = Request["ReturnUrl"];
    }
    var createAccountUrl = (hasReturnURL) ? Url.Action("register", "account", new { ReturnUrl = returnUrl }) : Url.Action("register", "account");
}
<div id="view-login">
    <!-- Spin Up Instruction: Theme Switcher - Remove -->
    <div class="bannerlogin">
        <div class="card-section">
            <div class="banner-text">
                <h2>@Resources.Common.SignIn</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-5">
            <div class="well account-form-container">
                <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-4 col-md-3">
                            @Html.LabelFor(c => c.LoginName)
                        </div>
                        <div class="col-sm-8 col-md-9">
                            @Html.EditorFor(c => c.LoginName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-md-3">
                            @Html.LabelFor(c => c.Password)
                        </div>
                        <div class="col-sm-8 col-md-9">
                            @Html.EditorFor(c => c.Password)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8 col-md-offset-3 col-md-9">
                            <button type="button" id="loginbutton" data-loading-text="@Resources.Common.Loading" class="btn btn-primary">@Resources.Common.SignIn</button>
                        </div>
                        <div class="col-sm-6">
                            <a href="@Url.Action("forgotpassword", "Account")" style="margin-top:10px;display:inline-block;">@Resources.Common.ForgotPassword</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-6 col-md-7">
            <h3 style="margin-top: 0;">@Resources.Common.DontHaveAccount</h3>
            <p>@Resources.Common.PleaseRegisterButtonInstruction</p>
            <a href="@createAccountUrl" class="btn btn-primary">@Resources.Common.CreateAnAccount</a>
        </div>
    </div>
    <!-- End Spin Up Instruction -->
    <!-- Spin Up Instruction: Theme Switcher - Add -->
    @*<h2>@ViewBag.Title</h2>
        <div class="row">
            <div class="col-sm-6 col-md-5">
                <div class="well">
                    <form role="form" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-4 col-md-3">
                                @Html.LabelFor(c => c.LoginName)
                            </div>
                                <div class="col-sm-8 col-md-9">
                                    @Html.EditorFor(c => c.LoginName)
                                </div>
                            </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-md-3">
                                @Html.LabelFor(c => c.Password)
                            </div>
                                <div class="col-sm-8 col-md-9">
                                    @Html.EditorFor(c => c.Password)
                                </div>
                            </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8 col-md-offset-3 col-md-9">
                                <button type="button" id="loginbutton" data-loading-text="@Resources.Common.Loading" class="btn btn-primary">@Resources.Common.SignIn</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-7">
                <h3 style="margin-top: 0;">@Resources.Common.DontHaveAccount</h3>
                <p>@Resources.Common.PleaseRegisterButtonInstruction</p>


                    <a href="@createAccountUrl" class="btn btn-success">@Resources.Common.CreateAnAccount</a>
            </div>
        </div>*@
    <!-- End Spin Up Instruction -->
</div>


@section scripts
{
    <script>
        require(["jquery", "ajax", "cookies", "urls", "toastr", "forms"], function ($, ajax, cookies, url, toastr, forms) {

            // Settings
            var context = '#view-login',
                $context = $(context),
                cookiename = '@(GlobalSettings.Globalization.CookieKey)LoginName',
                landingUrl = '@Url.Action("index", "account")';


            // Event Handlers
            function registerEventHandlers() {

                // Login Form
                $('#loginbutton', $context).on('click', function (event) {
                    event.preventDefault();
                    $(this).button("loading");
                    actions.signin();
                });
                $('input', $context).on('keypress', function (event) {
                    if (event.which == 13) {
                        event.preventDefault();
                        actions.signin();
                    }
                });
            }


            // Actions
            var actions = {
                clearCookies: function () {
                    cookies.clear(cookiename);
                },
                loadCookies: function () {
                    var savedLoginName = cookies.get(cookiename);
                    if (savedLoginName) $('#LoginName').val(savedLoginName);
                },
                saveCookies: function () {
                    // Get the expiration date of the cookie
                    var expires = new Date();
                    expires.setDate(expires.getDate() + 365);

                    // Set the cookies
                    cookies.set(cookiename, $('#LoginName').val(), {
                        expires: expires
                    });
                },
                signin: function () {

                    // Validate the form
                    if (!$('form').valid()) {
                        $("#loginbutton").button("reset");
                        return false;
                    }


                    // Submit the form
                    ajax.json({
                        url: window.location,
                        data: $('form').serializeObject(),
                        beforeSend: function () {
                            toastr.clear();
                        },
                        success: function (response) {
                            if (!response.Status) {
                                actions.throwError(Resources.Common.LoginFailed, response.ErrorMessage);
                                $("#loginbutton").button("reset");
                            }
                            else {
                                // Save the cookies
                                actions.saveCookies();

                                // Redirect
                                window.location = (response.RedirectUrl) ? response.RedirectUrl : decodeURIComponent(url.current.queryKey.ReturnUrl || landingUrl);
                            }
                        },
                        error: function (xhr, status, error) {
                            console.log(xhr);
                            actions.throwError(Resources.Common.LoginFailed, error);
                            $("#loginbutton").button("reset");
                        }
                    });
                },
                throwError: function (title, error) {
                    toastr.error(error, title);
                    $('#Password').focus();
                    $("#loginbutton").button("reset");
                }
            };


            // Initialization
            function _init() {

                // Register the event handlers
                registerEventHandlers();

                // Load the saved cookies into the form
                actions.loadCookies();

                // Focus on the right field
                if ($('#LoginName').val() == '') $('#LoginName').focus();
                else $('#Password').focus();
            }
            _init();

        });
    </script>
}
