@model CategoryResourceItemsViewModel
@{
    var currentCulture = System.Globalization.CultureInfo.GetCultureInfo(System.Threading.Thread.CurrentThread.CurrentCulture.Name);
    var manage = Model.IsResourceManager;
}

@if (Model.ResourceList != null && Model.ResourceList.Count() > 0)
{
    foreach (var resource in Model.ResourceList)
    {
        var isPending = resource.StatusID != Exigo.ResourceStatuses.Active ? "Pending" : "";
        var TypeName = Model.Types.Where(t => t.TypeID == resource.TypeID).FirstOrDefault().TypeDescription;
        <tr data-id="@resource.ItemID" data-sort-node="@Model.CategoryItem.ItemID">
            @if (manage)
            {
                <td><i class="fa fa-bars sortable-handle"></i></td>
            }
            <td class="thumb-nail pop-over">
                @if (resource.UrlThumbnail.IsNotNullOrEmpty())
                {
                    <div class="pop-over-content"><img src='@resource.UrlThumbnail' class='img-responsive' /></div>
                    <img src="@resource.UrlThumbnail" class="thumb-nail" />
                }
                else
                {
                    <div class="pop-over-content"><img src="~/Content/images/Resources/@(TypeName).jpg" /></div>
                    <img src="~/Content/images/Resources/@(TypeName).jpg" />
                }
            </td>
            <td class="black-font">@TypeName</td>
            <td class="black-font">@resource.Title <span class="badge">@isPending</span></td>
            <td class="black-font"><a href="@resource.Url" target="_blank">@GlobalUtilities.DescriptionFormatter(resource.Url, 20)</a></td>
            <td>@resource.Language</td>
            <td class="black-font">@resource.CreatedDate.ToString(currentCulture)</td>
            @if (manage)
            {
                <td>
                    <a href="@Url.Action("resourceitems", "resources", new { editItemID = @resource.ItemID })" class="bigger-icon" data-id="@resource.ItemID" title="@Resources.Common.Edit"><i class="fa-pencil-square"></i></a>
                    <a class="bigger-icon deleteResource" data-id="@resource.ItemID" title="@Resources.Common.Delete"><i class="fa-times-circle"></i></a>
                </td>
            }
        </tr>
    }
}
else
{
    <tr><td colspan="6" class="black-font"><p>@Resources.Common.NoResourcesSaved</p></td></tr>
}