@model ResourceListViewModel
@{
    ViewBag.Title = "_ResourceList";

    var FilteredCategory = (Model.SelectedCategoryID == null || Model.SelectedCategoryID == Guid.Empty) ? Model.ResourceCategories.Where(c => c.ParentID == Guid.Empty) : Model.ResourceCategories.Where(c => c.CategoryID == Model.SelectedCategoryID);
    var currentCulture = System.Globalization.CultureInfo.GetCultureInfo(System.Threading.Thread.CurrentThread.CurrentCulture.Name);
    var filterResources = Model.ResourceList.ToList();

    var manage = Model.IsResourceManager;
    if (!manage)
    {
        filterResources = filterResources.Where(c => c.StatusID == Exigo.ResourceStatuses.Active && (c.PostDate <= DateTime.Now.ToCST() || c.PostDate == null)).ToList();
    }
}
@foreach (var category in FilteredCategory)
{
    var subcategories = Model.ResourceCategories.Where(c => c.ParentID == category.CategoryID).ToList().Select(t => t.CategoryID);
    <div class="well well-sm clearfix">
        <div class="panel panel-default categoryDetail" data-id="@category.CategoryID">
            <div class="panel-heading">@category.CategoryDescription</div>
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr class="active">
                            @if (manage)
                            {
                                <th class="row-move"><i class="fa fa-arrows"></i></th>
                            }
                            <th class="thumb-nail">@Resources.Common.Thumbnail</th>
                            <th class="typeHeader">@Resources.Common.Type</th>
                            <th class="descriptionHeader">@Resources.Common.Description</th>
                            <th class="sourceURLHeader">@Resources.Common.Src</th>
                            <th class="languageHeader">@Resources.Common.Language</th>
                            <th class="dateHeader">
                                @Resources.Common.Date
                                <span class="carret-up"></span>
                                <span class="carret-down"></span>
                            </th>
                            @if (manage)
                            {

                                <th class="actionsHeader">@Resources.Common.Actions</th>
                            }
                        </tr>
                    </thead>



                    <tbody data-sort-group="@CustomSortGroups.ResourceItems"
                           data-parent-id="@category.CategoryID"
                           data-save-url="@Url.Action("SaveResourceItemSort","CustomSort")">
                        @if (Model.CategoryItemList.Where(r => r.CategoryID == category.CategoryID || subcategories.Contains(r.CategoryID)).Count() > 0)
                        {
                                    var totalresources = 0;
                                    foreach (var categoryItem in Model.CategoryItemList.Where(r => r.CategoryID == category.CategoryID || subcategories.Contains(r.CategoryID)))
                                    {
                                        var resource = filterResources.FirstOrDefault(c => c.ItemID == categoryItem.ItemID);
                                        if (resource != null)
                                        {

                                            var isPending = resource.StatusID != Exigo.ResourceStatuses.Active ? "Pending" : "";
                                            var TypeName = Model.Types.Where(t => t.TypeID == resource.TypeID).FirstOrDefault().TypeDescription;
                                    <tr data-id="@resource.ItemID" data-sort-node="@categoryItem.ItemID">
                                        @if (manage)
                                        {
                                            <td><i class="fa fa-bars sortable-handle"></i></td>
                                        }
                                        <td class="thumb-nail pop-over">
                                            @if (resource.UrlThumbnail.IsNotNullOrEmpty())
                                            {
                                                <div class="pop-over-content"><img src='@resource.UrlThumbnail' class='img-responsive' /></div>
                                                <img src="@resource.UrlThumbnail" class="thumb-nail" />
                                            }
                                            else
                                            {
                                                
                                                <div class="pop-over-content"><img src="~/Content/images/Resources/@(TypeName).jpg" /></div>
                                                <img src="~/Content/images/Resources/@(TypeName).jpg" />
                                            }
                                        </td>
                                        <td class="black-font">@TypeName</td>
                                        <td class="black-font">@resource.Title <span class="badge">@isPending</span></td>
                                        <td class="black-font"><a href="@resource.Url" target="_blank">@GlobalUtilities.DescriptionFormatter(resource.Url, 20)</a></td>
                                        <td>@resource.Language</td>
                                        <td class="black-font">@resource.CreatedDate.ToString(currentCulture)</td>
                                        @if (manage)
                                        {

                                            <td>
                                                <a href="@Url.Action("resourceitems", "resources", new { editItemID = @resource.ItemID})" class="bigger-icon" data-id="@resource.ItemID" title="@Resources.Common.Edit"><i class="fa-pencil-square"></i></a>
                                                <a class="bigger-icon deleteResource" data-id="@resource.ItemID" title="@Resources.Common.Delete"><i class="fa-times-circle"></i></a>
                                            </td>
                                        }
                                    </tr>
                                        totalresources++;
                                }
                            }
                            if (totalresources == 0)
                            {
                                <tr><td colspan="6" class="black-font"><p>@Resources.Common.NoResourcesSaved</p></td></tr>
                            }
                        }
                        else
                        {
                            <tr><td colspan="6" class="black-font"><p>@Resources.Common.NoResourcesSaved</p></td></tr>
                        }
                    </tbody>



                </table>
            </div>
        </div>
        <button class="btn btn-success btn-item-sort pull-right" data-sort-target="@category.CategoryID">@Resources.Common.SaveSortOrder </button>
    </div>
}
@if (Model.UnassignedResources.Count() > 0 && manage)
{
    <div class="well well-sm">
        <div class="panel panel-default categoryDetail" data-id="@Guid.Empty">
            <div class="panel-heading">Unassigned Resources</div>
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <tr class="active">
                        <th class="thumb-nail">@Resources.Common.Thumbnail</th>
                        <th class="typeHeader">@Resources.Common.Type</th>
                        <th class="descriptionHeader">@Resources.Common.Description</th>
                        <th class="sourceURLHeader">@Resources.Common.Src @Resources.Common.URL</th>
                        <th class="dateHeader">@Resources.Common.Date</th>
                        <th class="actionsHeader">@Resources.Common.Actions</th>
                    </tr>

                    @foreach (var categoryItem in Model.UnassignedResources)
                    {
                        var resource = Model.UnassignedRsourceList.FirstOrDefault(c => c.ItemID == categoryItem.ItemID);
                        if (resource != null)
                        {
                            var TypeName = Model.Types.Where(t => t.TypeID == resource.TypeID).FirstOrDefault().TypeDescription;
                            <tr>
                                <td class="thumb-nail pop-over">
                                    @if (resource.UrlThumbnail.IsNotNullOrEmpty())
                                    {
                                        <div class="pop-over-content"><img src='@resource.UrlThumbnail' class='img-responsive' /></div>
                                        <img src="@resource.UrlThumbnail" class="thumb-nail" />
                                    }
                                    else
                                    {
                                        <div class="pop-over-content"><img src="~/Content/images/Resources/@(TypeName).jpg" /></div>
                                        <img src="~/Content/images/Resources/@(TypeName).jpg" />
                                    }
                                </td>
                                <td class="black-font">@TypeName</td>
                                <td class="black-font">@resource.Title</td>
                                <td class="black-font"><a href="@resource.Url" target="_blank">@GlobalUtilities.DescriptionFormatter(resource.Url, 20)</a></td>
                                <td class="black-font">@resource.CreatedDate.ToString(currentCulture)</td>
                                <td>

                                    <a href="@Url.Action("resourceitems", "resources", new { editItemID = @resource.ItemID})" class="bigger-icon" data-id="@resource.ItemID"><i class="fa-pencil-square"></i></a>
                                    <a class="bigger-icon deleteResource" data-id="@resource.ItemID"><i class="fa-times-circle"></i></a>
                                </td>
                            </tr>
                        }
                    }


                </table>

            </div>
        </div>
    </div>
}
