@model EnrollmentSummaryViewModel
<div id="view-enrollment-summary">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                @Resources.Common.OrderSummary
            </h3>
        </div>
        <div class="panel-body">
            @if (Model.HasItems)
            {
                <div class="media">

                    @if (Model.HasOrderItems)
                    {
                        <h5><span class="label label-info">@Resources.Common.TodaysOrder</span></h5>
                        <div class="space-5"></div>
                        <div class="table-responsive">
                            <table class="table" style="border: 1px solid #CCC; table-layout: fixed; margin: 0">
                                <tr>
                                    <th>@Resources.Common.Description</th>
                                    <th style="width: 40px;">@Resources.Common.QTY</th>
                                    <th style="width: 75px;">@Resources.Common.Price</th>
                                    <th style="width: 30px;"></th>
                                </tr>
                                @if (Model.HasOrderEnrollmentPacks)
                                {
                                    foreach (var item in Model.OrderEnrollmentPacks)
                                    {
                                        @Html.Partial("~/Views/Enrollment/_SummaryItem.cshtml", item)
                                    }
                                }
                                @if (Model.HasInitialOrderItems)
                                {
                                    foreach (var item in Model.OrderItems)
                                    {
                                        @Html.Partial("~/Views/Enrollment/_SummaryItem.cshtml", item)
                                    }
                                }

                            </table>
                            <table class="table" style="border: 1px solid #CCC;">
                                <tr>
                                    <td><strong>@Resources.Common.Subtotal</strong></td>
                                    <td class="text-right">@Model.OrderSubtotal.ToString("C")</td>
                                </tr>
                            </table>
                        </div>

                        if (Model.IsCalculated)
                        {
                            <div class="row margin-10">
                                <div class="col-xs-4"></div>
                                <div class="col-xs-4">
                                    <strong>@Resources.Common.Shipping</strong>
                                </div>
                                <div class="col-xs-4">
                                    <p class="text-right">@Model.Shipping.ToString("C")</p>
                                </div>
                            </div>

                            <div class="space-5"></div>

                            <div class="row margin-10">
                                <div class="col-xs-4"></div>
                                <div class="col-xs-4">
                                    <strong>@Resources.Common.Tax</strong>
                                </div>
                                <div class="col-xs-4">
                                    <p class="text-right">@Model.Tax.ToString("C")</p>
                                </div>
                            </div>

                            <div class="space-5"></div>

                            <div class="row margin-10">
                                <div class="col-xs-4"></div>
                                <div class="col-xs-4">
                                    <strong>@Resources.Common.Total</strong>
                                </div>
                                <div class="col-xs-4">
                                    <p class="text-right">@Model.Total.ToString("C")</p>
                                </div>
                            </div>
                        }
                        else
                        {
                            <small class="text-muted">@Resources.Common.PromotionsOrDiscountsMessage</small>
                        }
                    }


                    @if (Model.HasAutoOrderItems)
                    {
                        <h5><span class="label label-info">@Resources.Common.AutoOrder</span></h5>
                        <div class="space-5"></div>
                        <div class="table-responsive">
                            <table class="table" style="border: 1px solid #CCC;  table-layout: fixed; margin: 0">
                                <tr>
                                    <th>@Resources.Common.Description</th>
                                    <th style="width: 40px;">@Resources.Common.QTY</th>
                                    <th style="width: 75px;">@Resources.Common.Price</th>
                                    <th style="width: 30px;"></th>
                                </tr>
                                @if (Model.HasPackAutoOrderItems)
                                {
                                    foreach (var item in Model.AutoOrderEnrollmentPacks)
                                    {
                                        @Html.Partial("~/Views/Enrollment/_SummaryItem.cshtml", item)
                                    }
                                }
                                @if (Model.HasNonPackAutoOrderItems)
                                {
                                    foreach (var item in Model.AutoOrderItems)
                                    {
                                        @Html.Partial("~/Views/Enrollment/_SummaryItem.cshtml", item)
                                    }
                                }
                            </table>
                            <table class="table" style="border: 1px solid #CCC;">
                                <tr>
                                    <td><strong>@Resources.Common.Subtotal</strong></td>
                                    <td class="text-right">@Model.AutoOrderSubtotal.ToString("C")</td>
                                </tr>
                            </table>
                        </div>
                    }
                </div>
            }
            else
            {
                <p>@Resources.Common.NoItemsInCart</p>
            }
        </div>
    </div>
</div>
