@model EnrollmentPropertyBag
@{
    ViewBag.Title = Resources.Common.PersonalInformation;
    var enroller = Model.Customer.Enroller;
}

<div class="container">
    <h2>@ViewBag.Title</h2>

    <div id="view-enrollment">
        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="col-sm-8">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                @Resources.Common.PersonalInformation
                            </h3>
                        </div>
                        <div class="panel-body">
                            @Html.EditorForModel("PersonalInformation")
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                @Resources.Common.YourAddress
                            </h3>
                        </div>
                        <div class="panel-body">
                            @Html.EditorForModel("HomeAddress")
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">@Resources.Common.YourPersonalWebsiteAndLogin</h3>

                        </div>
                        <div class="panel-body">
                            @Html.EditorForModel("LoginInformation")
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">@Resources.Common.ShippingInformation</h3>
                        </div>
                        <div class="panel-body">
                            @Html.EditorForModel("ShippingInformation")
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">@Resources.Common.BillingPayment</h3>
                        </div>
                        <div class="panel-body">
                            @Html.EditorForModel("Billing")
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">@Resources.Common.TermsAndConditions</h3>
                        </div>
                        <div class="panel-body">
                            @Html.EditorForModel("TermsAndConditions")
                        </div>
                    </div>

                    <a id="btnSubmitEnrollment" class="btn btn-primary btn-lg" data-loading-text="@Resources.Common.Loading">@Resources.Common.Submit</a>
                    <div class="space-30"></div>

                </div>
                <div class="col-sm-4">
                    <div id="view-enrollmentsummary">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    @Resources.Common.YourEnroller
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="media-object" src="@Url.Avatar((int)enroller.CustomerID)" style="max-width: 50px;" />
                                    </div>
                                    <div class="media-body">
                                        <strong class="media-heading">@enroller.FullName</strong><br />
                                        <a href="mailto:@enroller.Email" target="_blank">@enroller.Email</a><br />
                                        @enroller.PrimaryPhone
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div id="summary-container">
                        <!-- Dynamically Injected -->
                    </div>

                    <a href="@Url.Action("productlist", "enrollment")" class="btn btn-primary btn-lg">@Resources.Common.ContinueShopping</a>


                    <div class="space-15"></div>

                    @Html.Raw(GlobalUtilities.DisplayDebugControlPanel())

                </div>
            </div>

            @Html.AntiForgeryToken()
        }
    </div>
</div>


@section scripts
{
    <script src="@Url.Content("~/Scripts/exigopayments-1.0.0.js")"></script>
    <style>
        .control-label.required:after { content: " *"; color: #C80000; }
    </style>
    <script>
        require(["jquery", "ajax", "app", "debug", "forms", "toastr", "extensions"], function ($, ajax, app, debug, forms, toastr) {

            // Settings
            var context = "#view-enrollment",
                $context = $(context),
                removeItemsURL = '@Url.Action("deleteitemfromcart", "enrollment")',
                updateItemSummaryURL = '@Url.Action("updateitemsummary", "enrollment")';

            // State
            var state = {
                validated: false
            };

            // Event Handlers
            function registerEventHandlers() {

                // Remove item button
                $context.on('click', '[data-role="removeitem"]', function () {
                    var $this = $(this),
                        $itemParent = $this.parents('tr'),
                        itemcode = $itemParent.data('itemcode'),
                        itemtype = $itemParent.data('itemtype'),
                        $item = $('[data-itemcode="' + itemcode + '"][data-itemtype="' + itemtype + '"]').serializeObject();

                    actions.removeItem($item);
                });

                $('#btnSubmitEnrollment').on('click', function () {
                    $('#btnSubmitEnrollment').button("loading");
                    actions.submitForm();
                });

                // Decorate all required fields
                $('[data-val-required]').each(function () {
                    $('.control-label[for="{0}"]'.format($(this).attr('id'))).addClass('required');
                });

                debug.ControlPanelControls(context);
            }


            // Actions
            var actions = {
                updateItemSummary: function () {
                    var $container = $('#summary-container');

                    ajax.json({
                        url: updateItemSummaryURL,
                        beforeSend: function () {
                            $container.html('<p class="text-center"><strong>@Resources.Common.Loading</strong></p>');
                        },
                        success: function (response) {
                            if (response.success) {
                                $container.html(response.html);
                            }
                            else {
                                console.log("failed");
                            }
                        },
                        error: function (xhr, error, status) {
                            console.log("Error: ", xhr);
                        }
                    });
                },
                removeItem: function ($item) {
                    ajax.json({
                        url: removeItemsURL,
                        data: {
                            itemcode: $item.ItemCode,
                            type: $item.Type
                        },
                        success: function (response) {
                            if (response.success) {
                                console.log("item deleted");
                                actions.updateItemSummary();
                            }
                            else {
                                console.log("failed");
                            }
                        },
                        error: function (xhr, error, status) {
                            console.log("Error: ", xhr);
                        }
                    });
                },
                submitForm: function () {

                    if (actions.validateForm() == false) {
                        $("#btnSubmitEnrollment").button("reset");
                        return false;
                    }
                    var model = helpers.getFilteredModel();


                    // Logic to handle fetching Token
                    if (model.PaymentMethod.PaymentMethodType == "ExigoService.CreditCard") {
                        // Fetch Credit Card Token and submit form
                        actions.submitCreditCardForm(model);
                    } else {

                        var formdata = {};
                        (function recurse(obj, current) {
                            for (var key in obj) {
                                var value = obj[key];
                                var newKey = (current ? current + "." + key : key);  // joined key with dot
                                if (value && typeof value === "object") {
                                    recurse(value, newKey);  // it's a nested object, so do it again
                                } else {
                                    formdata[newKey] = value;  // it's not an object, so set the property
                                }
                            }
                        })(model);

                        var data = formdata;

                        ajax.post({
                            url: "@Url.Action("enrolleeinfo")",
                            data: data,
                            success: function (response) {
                                window.location = "@Url.Action("checkout")";
                                console.log("Success: ", response);

                            },
                            error: function (xhr, error, status) {
                                $("#btnSubmitEnrollment").button("reset");
                                toastr.error(error);
                                console.log("Error: ", xhr);
                            }
                        });
                    }
                },
                submitCreditCardForm: function (model) {
                    var paymentMethod = model.PaymentMethod;

                    // Get Credit Card Token here
                    ExigoPayments.tokenize({
                        credential: "@PaymentConfiguration.PaymentCredentials.Create()",
                        card: paymentMethod.CardNumber,
                        month: paymentMethod.ExpirationMonth,
                        year: paymentMethod.ExpirationYear,
                        success: function (token) {
                            $(".creditcard-token").val(token);
                            paymentMethod.Token = token;
                            $('[name="PaymentMethod.Token"]').val(token);

                            var cardDisplay = paymentMethod.CardNumber.substr(paymentMethod.CardNumber.length - 4);
                            paymentMethod.Display = cardDisplay;
                            $('[name="PaymentMethod.Display"]').val(cardDisplay);


                            // Clear the name so the CC Number is not submitted
                            paymentMethod.CardNumber = "";
                            $('[name="PaymentMethod.CardNumber"]').attr('name', '');

                            //console.log("model", model);

                            var formdata = {};
                            (function recurse(obj, current) {
                                for (var key in obj) {
                                    var value = obj[key];
                                    var newKey = (current ? current + "." + key : key);  // joined key with dot
                                    if (value && typeof value === "object") {
                                        recurse(value, newKey);  // it's a nested object, so do it again
                                    } else {
                                        formdata[newKey] = value;  // it's not an object, so set the property
                                    }
                                }
                            })(model);

                            var data = formdata;

                            //console.log("data", data);
                            //return;

                            ajax.post({
                                url: "@Url.Action("enrolleeinfo")",
                                data: data,
                                success: function (response) {
                                    window.location = "@Url.Action("checkout")";
                                    console.log("Success: ", response);

                                },
                                error: function (xhr, error, status) {
                                    $("#btnSubmitEnrollment").button("reset");
                                    toastr.error(error);
                                    console.log("Error: ", xhr);
                                }
                            });
                        },
                        failure: function (errorMessage) {
                            console.log("get cc token failed", errorMessage);
                            $("#btnSubmitEnrollment").button("reset");
                            toastr.error(errorMessage);

                        }
                    });
                },
                validateForm: function () {

                    if (!$('form:first', $context).valid()) {

                        var scrollToTop = 0;
                        var firstError = $('[data-valmsg-for]:visible:first');
                        if (firstError.length > 0) {
                            var fieldName = $(firstError).data('valmsg-for');
                            var $field = $('[name="' + fieldName + '"]:visible');
                            $field.focus();
                        }

                        return false;
                    }


                    var $password = $('#Customer_Password').val(),
                        $confirmPassword = $('#confirm-password').val(),
                        $hint = $('#passwordHint').val();

                    $termsChecked = $("#terms-checkbox:checked").length > 0;

                    if ($termsChecked === false) {
                        toastr.error("@Resources.Common.YouMustAcceptTermsAndConditions")
                        return false;
                    }

                    return true;
                },
                disableCountrySelection: function () {
                    var $countrySelections = $('[data-role="hidecountry"] [data-role="Country"]');

                    $countrySelections.each(function () {
                        $(this).parents('.form-group:first').hide();
                    });
                }
            };


            // Helpers
            var helpers = {
                getModel: function (selector) {
                    // Serialize the form
                    selector = selector || 'form';
                    var $form = $(selector, $context);
                    var o = {};
                    var a = $form.find(':input').serializeArray();
                    $.each(a, function () {
                        if (o[this.name] !== undefined) {
                            o[this.name] = o[this.name] || '';
                        } else {
                            o[this.name] = this.value || '';
                        }
                    });


                    // Deeply convert it into our model.
                    var model = {}, j, d;
                    for (var m in o) {
                        d = m.split(".");
                        var startOfObj = model;
                        for (j = 0; j < d.length  ; j += 1) {

                            if (j == d.length - 1) {
                                startOfObj[d[j]] = o[m];
                            }
                            else {
                                startOfObj[d[j]] = startOfObj[d[j]] || {};
                                startOfObj = startOfObj[d[j]];
                            }
                        }
                    }


                    return model;
                },
                getFilteredModel: function () {

                    var model = helpers.getModel();

                    //console.log('unfiltered model', model);

                    // Commission Settings
                    model.DirectDeposit = helpers.getModel('[data-bind="@Html.NameFor(c => c.Customer.PayableTypeID)"]:visible').DirectDeposit;

                    // Payment Method
                    model.PaymentMethod = helpers.getModel('[data-bind="@Html.NameFor(c => c.PaymentTypeID)"]:visible').PaymentMethod;

                    return model;
                },
                getRandomString: function (length) {
                    length = length || 7;
                    var text = "";
                    var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

                    for (var i = 0; i < length; i++)
                        text += possible.charAt(Math.floor(Math.random() * possible.length));

                    return text;
                },
                getRandomNumber: function (length) {
                    length = length || 10;
                    var text = "";
                    var possible = "0123456789";

                    for (var i = 0; i < length; i++)
                        text += possible.charAt(Math.floor(Math.random() * possible.length));

                    return text;
                }
            };


            // Initialization
            function init() {
                registerEventHandlers();
                actions.disableCountrySelection();
                actions.updateItemSummary();
            }
            init();

        });
    </script>

}
