@model IEnumerable<IItem>
@{
    var contextID = Guid.NewGuid();
    // Used when we are on the review step and we do not want to allow a user to edit quantities and remove items. Instead, there will be a link to the cart page.
    var hideControls = (ViewData["HideControls"] != null && ViewData["HideControls"].CanBeParsedAs<bool>()) ? (bool)ViewData["HideControls"] : false;
}

<div data-widget="paneledcart" id="view-paneledcart-@contextID" class="view-paneledcart">
    @if (Model.Count() > 0)
    {
        <div class="panel panel-default">
            @if (hideControls)
            {
                <div class="panel-heading">
                    <a href="@Url.Action("Cart")" class="pull-right">@Resources.Common.EditItems</a>
                    <div class="clearfix"></div>
                </div>
            }

            <div class="panel-body">
                @Html.Partial("Partials/Cart/Cart", Model)
            </div>

            <div class="panel-footer">
                <div class="text-right">@Resources.Common.Subtotal (<span data-text="quantity">@Model.Sum(c => c.Quantity).ToString("N0")</span> @Resources.Common.Items.ToLower()): <strong><span data-text="subtotal">@Model.Sum(c => c.Quantity * c.Price).ToString("C")</span></strong></div>
            </div>
        </div>
    }
    else
    {
        <p>@Resources.Common.NoItemsInCart</p>
    }
</div>


@using (Html.BeginPartialScript())
{
    <script>
        require(["jquery", "shopping", "pubsub", "extensions"], function ($) {

            // Settings
            var context = "#view-paneledcart-@contextID",
                $context = $(context);


            window.on('cart.cartupdated', function (data) {
                var updatedItem = data.item;
                var items = data.items;

                console.log("data: ", data);

                var quantity = 0;
                for (var i = 0, max = items.length; i < max; i++) {
                    var item = items[i];

                    quantity += item.Quantity;
                }
                if (quantity == 0) {
                    $context.remove();
                }
                else {
                    $('[data-text="quantity"]', $context).html(quantity.format("N0"));
                    $('[data-text="subtotal"]', $context).html(data.subtotal.format("C"));
                }
            });
        });
    </script>
}