@model CommissionDetailViewModel
@{
    ViewBag.Title = Resources.Common.Commissions;
    var routeDataValues = ViewContext.RouteData.Values;
    var runid = (routeDataValues["runid"] != null) ? Convert.ToInt32(routeDataValues["runid"]) : 0;
    var firstNewPeriod = Model.CommissionPeriods.Where(c => !c.CanBeParsedAs<HistoricalCommission>()).OrderBy(c => c.Period.PeriodID).FirstOrDefault();
    var PeriodID = Model.PeriodID;
}


<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-sm-3">
        @Html.Navigation()
    </div>
    <div class="col-sm-9">
        <div id="view-commissiondetail">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button id="gotopreviousperiod" class="btn btn-default" type="button"><i class="fa-chevron-left"></i></button>
                            </span>
                            <select id="periodchoice" class="form-control">
                                @foreach (var period in Model.CommissionPeriods.OrderByDescending(p => p.Period.PeriodID).Where(p => p.Period.PeriodTypeID == (int)PeriodTypes.Default))
                                {
                                    dynamic typedPeriod;
                                    var url = "";
                                    var currentFlag = "";
                                    var isSelected = false;
                                    var selectedPeriod = "" + PeriodID;

                                    if (period is HistoricalCommission)
                                    {
                                        typedPeriod = (HistoricalCommission)period;
                                        url = Url.Action("CommissionDetail", new { runid = typedPeriod.CommissionRunID });
                                        if (runid == typedPeriod.CommissionRunID) { isSelected = true; }
                                        if (selectedPeriod == typedPeriod.Period.PeriodID.ToString()) { isSelected = true; }

                                    }
                                    else
                                    {
                                        typedPeriod = (RealTimeCommission)period;
                                        url = Url.Action("CommissionDetail", new { periodid = typedPeriod.Period.PeriodID });

                                        if (firstNewPeriod == null || period.Period.PeriodID != firstNewPeriod.Period.PeriodID)
                                        {
                                            currentFlag = Resources.Common.CurrentCommissions + " - ";
                                        }
                                        else
                                        {
                                            currentFlag = Resources.Common.CurrentCommissions + " - ";
                                        }

                                        if (selectedPeriod == typedPeriod.Period.PeriodID.ToString()) { isSelected = true; }
                                    }

                                    <option value="@url" @((isSelected) ? "selected" : "")>@currentFlag@period.Period.PeriodDescription (@period.Period.StartDate.ToShortDateString() - @period.Period.EndDate.ToShortDateString())</option>
                                }
                            </select>

                            
                            <span class="input-group-btn">
                                <button id="gotonextperiod" class="btn btn-default" type="button"><i class="fa-chevron-right"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="view-commissiondetailreport">
                <!--Injected with AJAX -->
            </div>
        </div>

    </div>
</div>


@section scripts
{
    <script>
        require(["jquery"], function ($) {

            // Settings
            var context = "#view-commissiondetail",
                $context = $(context);


            // Event Handlers
            function registerEventHandlers() {
                $('#periodchoice', $context).on('change', function () {
                    actions.getReport($(this).val());
                });
                $('#gotopreviousperiod', $context).on('click', function () {
                    var index = $('#periodchoice', $context).prop("selectedIndex");
                    if (index < $('#periodchoice option', $context).length - 1) {
                        $('#periodchoice', $context).prop("selectedIndex", index + 1);
                        actions.getReport($('#periodchoice', $context).val());
                    }
                });
                $('#gotonextperiod', $context).on('click', function () {
                    var index = $('#periodchoice', $context).prop("selectedIndex");
                    if (index > 0) {
                        $('#periodchoice', $context).prop("selectedIndex", index - 1);
                        actions.getReport($('#periodchoice', $context).val());
                    }
                });
            }


            // Actions
            var actions = {
                getReport: function (url) {
                    $.ajax({
                        url: url,
                        type: 'POST',
                        cache: false,
                        success: function (response) {
                            $('#view-commissiondetailreport').html(response);
                        },
                        error: function (xhr) {
                            console.log(xhr.responseText);
                        }
                    });
                }
            };


            // Initialization
            function init() {
                registerEventHandlers();

                $('#periodchoice', $context).triggerHandler('change');
            }
            init();

        });
    </script>
}