@{ 
    ViewBag.Title = Resources.Common.ThankYou;
}
<h2>@Resources.Common.ThankYou</h2>
<p>@Resources.Common.WeHaveRecievedYourOrder</p>
<p>@Resources.Common.Click <a href="@Url.Action("OrderList", "Orders")">@Resources.Common.OrderHistory</a> @Resources.Common._ToViewAllOfYourOrders</p>
