@model OrderReviewViewModel
@{
    ViewBag.Title = Resources.Common.Review;
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    var submitLoadingImageContainerVisibility = (Model.PropertyBag.IsSubmitting) ? "inline" : "none";
    var submitButtonVisibility = (Model.PropertyBag.IsSubmitting) ? "none" : "block";
}
<div id="view-shoppingreview">
    <h3>@ViewBag.Title</h3>
    <div class="row margin-15">
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <h5>@Resources.Common.ShippingAddress</h5>
                            @Html.DisplayFor(c => c.PropertyBag.ShippingAddress)
                            <div class="space-10"></div>
                            <a href="@Url.Action("Shipping")"><i class="fa-edit"></i> @Resources.Common.Edit</a>
                        </div>
                        <div class="col-sm-4">
                            <h5>@Resources.Common.PaymentMethod</h5>
                            @Html.DisplayFor(c => c.PropertyBag.PaymentMethod, "PaymentMethod")
                            <div class="space-10"></div>
                            <a href="@Url.Action("Payment")"><i class="fa-edit"></i> @Resources.Common.Edit</a>
                        </div>
                        <div class="col-sm-4">
                            <h5>@Resources.Common.ChooseShippingMethod:</h5>
                            <div id="shipmethods">
                                @using (Html.BeginForm("SetShipMethodID", controller))
                                {
                                    @Html.AntiForgeryToken()

                                    foreach (var shipMethod in Model.ShipMethods.OrderBy(c => c.Price))
                                    {
                                        <div class="radio">
                                            <label>
                                                @Html.RadioButton("ShipMethodID", shipMethod.ShipMethodID, shipMethod.Selected)
                                                @shipMethod.ShipMethodDescription <small class="text-muted">@shipMethod.Price.ToString("C")</small>
                                            </label>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr />
            @Html.Partial("Partials/Cart/PaneledCart", Model.Items, new ViewDataDictionary { { "HideControls", true } })

        </div>
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Resources.Common.TodaysOrder
                </div>
                <div class="panel-body order-totals">
                    <div class="row">
                        <div class="col-xs-6 col-sm-8">
                            <strong>@Resources.Common.Subtotal:</strong>
                        </div>
                        <div class="col-xs-6 col-sm-4 no-padding">
                            @Model.OrderTotals.Subtotal.ToString("C")
                        </div>
                        <div class="col-xs-6 col-sm-8">
                            <strong>@Resources.Common.Shipping:</strong>
                        </div>
                        <div class="col-xs-6 col-sm-4 no-padding">
                            @Model.OrderTotals.Shipping.ToString("C")
                        </div>
                    </div>
                </div>
                <div class="panel-body order-totals">
                    <div class="row">
                        <div class="col-xs-6 col-sm-8">
                            <strong>@Resources.Common.TotalBeforeTax:</strong>
                        </div>
                        <div class="col-xs-6 col-sm-4 no-padding">
                            @((Model.OrderTotals.Subtotal + Model.OrderTotals.Shipping).ToString("C"))
                        </div>
                        <div class="col-xs-6 col-sm-8">
                            <strong>@Resources.Common.Tax:</strong>
                        </div>
                        <div class="col-xs-6 col-sm-4 no-padding">
                            @Model.OrderTotals.Tax.ToString("C")
                        </div>
                    </div>
                </div>
                <div class="panel-body order-totals">
                    <div class="row">
                        <div class="col-xs-6 col-sm-8 text-right">
                            <strong>@Resources.Common.GrandTotal:</strong>
                        </div>
                        <div class="col-xs-6 col-sm-4 no-padding">@Model.OrderTotals.Total.ToString("C")</div>
                    </div>
                </div>
            </div>

            <button id="submit" class="btn btn-primary btn-block btn-lg" style="display: @submitButtonVisibility">@Resources.Common.PlaceOrder</button>

            <div id="submit-loading" style="display: @submitLoadingImageContainerVisibility">
                <p class="text-center">
                    <img src="~/Content/images/loading/circle-32.gif" />
                </p>
                <p>@Resources.Common.OrderSubmittingMessage</p>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        require(["jquery", "ajax", "toastr", "forms", "bootstrap"], function ($, ajax, toastr) {
            // Settings
            var context = "#view-shoppingreview",
                $context = $(context),
                submitCheckoutUrl = '@Url.Action("SubmitCheckout")',
                orderCompleteUrl = '@Url.Action("OrderComplete")',
                checkOrderSubmissionStatusUrl = '@Url.Action("CheckOrderSubmissionStatus")',
                isSubmitting = ('@Model.PropertyBag.IsSubmitting' == "True") ? true : false;


            // Event Handlers
            function registerEventHandlers() {
                $('[name="ShipMethodID"]', $context).on('change', function () {
                    var $form = $(this).parents('form').first();

                    $form.submit();
                });

                $('#submit', $context).on('click', function () {
                    actions.submit();
                });
            }


            // Actions
            var actions = {
                submit: function () {
                    var $submitButton = $('#submit'),
                    $orderProcessingContainer = $("#submit-loading");

                    if (isSubmitting == false) {
                        isSubmitting = true;
                        $submitButton.hide();
                        $orderProcessingContainer.show();

                        ajax.json({
                            url: submitCheckoutUrl,
                            success: function (response) {
                                if (response.success) {
                                    window.location = orderCompleteUrl;
                                }
                                else {
                                    isSubmitting = false;
                                    $submitButton.show();
                                    $orderProcessingContainer.hide();
                                    toastr.error(response.message);
                                }
                            }
                        });
                    }
                    else {
                        return false;
                    }
                },
                checkOrderStatus: function () {
                    ajax.json({
                        url: checkOrderSubmissionStatusUrl,
                        success: function (response) {
                            if (response.success) {
                                window.location = orderCompleteUrl;
                            }
                            else {
                                if (response.orderHadException) {
                                    var $submitButton = $('#submit'),
                                        $orderProcessingContainer = $("#submit-loading");

                                    $submitButton.show();
                                    $orderProcessingContainer.hide();

                                    toastr.error(response.exceptionMessage);
                                }
                                else {
                                    setTimeout(actions.checkOrderStatus(), 3000);
                                }
                            }
                        }
                    });
                }
            };


            // Initialization
            function init() {
                registerEventHandlers();

                // if the user refreshed the page during submission, check to see repeatedly if the order has been placed or had an error
                if (isSubmitting) {
                    actions.checkOrderStatus();
                }
            }
            init();
        });
    </script>
}