@model Item

<div class="panel panel-default">
    <div class="panel-body">
        <div class="options">

            @Html.HiddenFor(c => c.ItemCode)
            @Html.HiddenFor(c => c.Type)
            @Html.HiddenFor(c => c.ParentItemCode)

            @Html.LabelFor(c => c.Quantity)<br />
            @Html.TextBoxFor(c => c.Quantity,
            htmlAttributes: new
            {
                type = "number",
                @class = "form-control input-sm"
            })

            <div class="space-20"></div>
            <button type="button" class="btn btn-primary btn-block" data-role="item.addtoorder"><i class="fa-shopping-cart"></i> @Resources.Common.AddToCart</button>            
        </div>
    </div>
</div>